<body>
  <div class="header">
    <a>
      <img
        src="https://alvimurtaza.github.io/Interview-Front-end/images/l0-l1-l2-engineer/logo.png"
        style="width:115px"
      />
    </a>
    <div class="header-right">
      <a class="active" href="#home">Dashboard</a>
      <a routerLink="account">Account</a>
      <a href="#Help">Help</a>
      <a href="#Logout">Logout</a>
    </div>
  </div>
  <div>
    <div class="leftside no-gutters">
      <a class="image">
        <img
          src="https://alvimurtaza.github.io/Interview-Front-end/images/l0-l1-l2-engineer/profile.png"
          style="
            position: absolute;
            width: 137px;
            height: 134px;
            left: 30px;
            top: 110px;"
        />
      </a>
    </div>
    <div class="rightside no-gutters">
      <h2 class="myaccount">MY ACCOUNT</h2>
      <div>
        <input
          class="username"
          id="input"
          type="text"
          placeholder="Name"
        /><br />
      </div>
      <div>
        <input class="mobile" id="input" type="text" placeholder="Mobile" />
        <input class="mobile" id="input" type="text" placeholder="Email" />
      </div>
    </div>
    <hr />
  </div>
  <div style="padding:20px;">Select Configuration</div>
  <div>
    <INPUT TYPE="Radio" Name="Gender" Value="Male" />Manual Configuration<br />Amet
    minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
  </div>

  <div>
    <INPUT TYPE="Radio" Name="Gender" Value="Male" />Services Access<br />Lorem
    ipsum dolor sit amet, consectetur adipiscing elit. Proin sed massa leo.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu varius
    felis. Integer posuere urna ut mi porta, vel fringilla dolor convallis. Sed
    laoreet sodales sapien vel vestibulum. Nulla dictum eros ut efficitur
    porttitor. Mauris dignissim, lectus sit amet euismod pretium, ex purus
    condimentum erat, eu feugiat nisi ipsum ac eros.
  </div>

  <div>
    <INPUT TYPE="Radio" Name="Gender" Value="Male" />Semi-auto Configuration<br />Amet
    minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
  </div>
  <div>
    <INPUT TYPE="Radio" Name="Gender" Value="Male" />Automatic Configuration<br />Amet
    minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
  </div>
  <button>Update Configuration</button>
  <button style="margin-left:10px">Cancel</button>
</body>
